<div>
	<select ng-model="selectedFormat" ng-options="key as key+' '+value.RESOLUTION for (key , value) in filterVideoFormats(videoFormats)" ng-change="onFormatChange()">
		<option id="defFormat" value="" disabled="disabled" selected="selected">Select a format</option>
	</select>
	<br/><iframe src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-5435553179213419&output=html&h=250&slotname=1921571160&w=300&fwr_io=true&fwrn=4&fwrnh=100&format=300x250&url=https%3A%2F%2Fwww.tricksbystg.org" height="310" width="100%" frameborder="0"></iframe><br/>
	<a href="" class="square_btn" ng-click="generateVideo()">Generate Video</a>
</div>
